{% extends 'base.html' %}

{% load util %}

{% block title %}About the Kink Checkbox{% endblock %}

{% block header%}About the Kink Checkbox{% endblock %}

{% block content %}


    <p>The &quot;kinky/not-kinky&quot; option, depending on
responses,  may be used for matching purposes.  If we do so, we
will match kinky folks only with those who check off either &quot;kink only&quot; or
&quot;kink okay.&quot;  We will match non-kinky folks only with those who check
off &quot;no kink&quot; or &quot;kink okay&quot;.  If this leads to too few matches, we
may have to remove it as an option. </p>
    <p> Generally, you are &quot;kinky&quot; if you self-identify as such.  We had to
      make this a yes/no question for ease of processing.  We recognize that
      kinkiness is a spectrum, and that this question is in many ways
      ill-defined.  Letting it get more complex seems to be too large a kettle of fish; that is what the face to face talk is for! </p>
    <p>&nbsp;</p>

{% endblock %}
